<!-- Second player -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield icon-mmr_4"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="player">
                                     <div _ngcontent-c58 class="player__image d2mh npc_dota_hero_earthshaker"></div>
                                     <div _ngcontent-c58 class="player__data">
                                         <div _ngcontent-c58 class="player__name">C h i b i</div>
                                     </div>
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58 >3</span>
                                        <span _ngcontent-c58>15</span>
                                        <span _ngcontent-c58>16</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 >7.1k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58>279</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58>455</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58>71</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58>2</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58>18.4k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58>-</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58>-</span>
                            </div>
                        </div>
                    </div>
                    <!-- Third Player -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield icon-mmr_6"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="player">
                                     <div _ngcontent-c58 class="player__image d2mh npc_dota_hero_lycan"></div>
                                     <div _ngcontent-c58 class="player__data">
                                         <div _ngcontent-c58 class="player__name">再听已是曲中人</div>
                                     </div>
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58>3</span>
                                        <span _ngcontent-c58 class="marker">6</span>
                                        <span _ngcontent-c58 class="marker">20</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 >15.4k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58>423</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58>650</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58>178</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58 class="marker">18</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58>22.7k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58>256</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58>-</span>
                            </div>
                        </div>
                    </div>
                    <!-- Fourth Player -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield icon-mmr_6"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="player">
                                     <div _ngcontent-c58 class="player__image d2mh npc_dota_hero_lycan"></div>
                                     <div _ngcontent-c58 class="player__data">
                                         <div _ngcontent-c58 class="player__name">Cyberian_Husky™</div>
                                     </div>
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58>6</span>
                                        <span _ngcontent-c58>10</span>
                                        <span _ngcontent-c58>18</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 >9.8k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58>307</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58>405</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58>62</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58>1</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58>18.7k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58>229</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58>-</span>
                            </div>
                        </div>
                    </div>
                    <!-- Fifth player -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield icon-mmr_6"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="player">
                                     <div _ngcontent-c58 class="player__image d2mh npc_dota_hero_legion_commander"></div>
                                     <div _ngcontent-c58 class="player__data">
                                         <div _ngcontent-c58 class="player__name">♥迪丽热巴♥</div>
                                     </div>
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58>6</span>
                                        <span _ngcontent-c58>9</span>
                                        <span _ngcontent-c58>17</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 >11.4k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58>363</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58>587</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58>146</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58 class="marker">8</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58>25.3k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58>-</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58 class="marker">1.7k</span>
                            </div>
                        </div>
                    </div>
                    <!-- Total -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="stats__total">
                                     Total
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58>24</span>
                                        <span _ngcontent-c58>47</span>
                                        <span _ngcontent-c58>79</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 >67.2k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58>2.1k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58>2.8k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58>713</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58>35</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58>116.9k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58>1.2k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58>1.7k</span>
                            </div>
                        </div>
                    </div>
                    <!-- Match team radiant end here -->
                    <!-- Match team dire -->
                    <div _ngcontent-c58 class="stats__team stats__team_dire">
                        <div _ngcontent-c58 class="stats__team-info_wrapper">
                            <div _ngcontent-c58 class="stats__team-info">
                                <span _ngcontent-c58 class="stats__team_name">
                                    The Dire
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- First player -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield icon-mmr_6"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="player">
                                     <div _ngcontent-c58 class="player__image d2mh npc_dota_hero_razor"></div>
                                     <div _ngcontent-c58 class="player__data">
                                         <div _ngcontent-c58 class="player__name">Pain</div>
                                     </div>
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58>8</span>
                                        <span _ngcontent-c58>5</span>
                                        <span _ngcontent-c58>22</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 >20.4k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58 class="marker">570</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58 class="marker">774</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58 class="marker">254</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58 class="marker">23</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58 class="marker">32.8k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58>5.1k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58>-</span>
                            </div>
                        </div>
                    </div>
                    <!-- Second player -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield icon-mmr_7"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="player">
                                     <div _ngcontent-c58 class="player__image d2mh npc_dota_hero_morphling"></div>
                                     <div _ngcontent-c58 class="player__data">
                                         <div _ngcontent-c58 class="player__name">✪ ICHIMARU GIN</div>
                                     </div>
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58 class="marker" >17</span>
                                        <span _ngcontent-c58 class="marker">2</span>
                                        <span _ngcontent-c58>16</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 class="marker"> 26.3k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58 class="marker">707</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58 class="marker">831</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58 class="marker">261</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58>16</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58 class="marker">32.8k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58 class="marker">10.1k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58>300</span>
                            </div>
                        </div>
                    </div>
                    <!-- Third Player -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield icon-mmr_6"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="player">
                                     <div _ngcontent-c58 class="player__image d2mh npc_dota_hero_pudge"></div>
                                     <div _ngcontent-c58 class="player__data">
                                         <div _ngcontent-c58 class="player__name">Unbr3@kable</div>
                                     </div>
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58>7</span>
                                        <span _ngcontent-c58 >9</span>
                                        <span _ngcontent-c58 class="marker">23</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 >9.2k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58>319</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58>438</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58>27</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58>-</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58>16.8k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58>783</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58>113</span>
                            </div>
                        </div>
                    </div>
                    <!-- Fourth Player -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield icon-mmr_6"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="player">
                                     <div _ngcontent-c58 class="player__image d2mh npc_dota_hero_lycan"></div>
                                     <div _ngcontent-c58 class="player__data">
                                         <div _ngcontent-c58 class="player__name">Cyberian_Husky™</div>
                                     </div>
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58>6</span>
                                        <span _ngcontent-c58>10</span>
                                        <span _ngcontent-c58>18</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 >9.8k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58>307</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58>405</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58>62</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58>1</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58>18.7k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58>229</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58>-</span>
                            </div>
                        </div>
                    </div>
                    <!-- Fifth player -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield icon-mmr_6"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="player">
                                     <div _ngcontent-c58 class="player__image d2mh npc_dota_hero_legion_commander"></div>
                                     <div _ngcontent-c58 class="player__data">
                                         <div _ngcontent-c58 class="player__name">♥迪丽热巴♥</div>
                                     </div>
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58>6</span>
                                        <span _ngcontent-c58>9</span>
                                        <span _ngcontent-c58>17</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 >11.4k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58>363</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58>587</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58>146</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58 class="marker">8</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58>25.3k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58>-</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58 class="marker">1.7k</span>
                            </div>
                        </div>
                    </div>
                    <!-- Total -->
                    <div _ngcontent-c58 class="stats__wrapper">
                        <div _ngcontent-c58 class="stats__row">
                            <div _ngcontent-c58 class="stats__shield"></div>
                             <div _ngcontent-c58 class="stats__col stats__col_player">
                                 <div _ngcontent-c58 class="stats__total">
                                     Total
                                 </div>
                             </div>
                            <div _ngcontent-c58 class="stats__col stats__col_kda">
                                <div _ngcontent-c58 class="kda">
                                    <div _ngcontent-c58 class="kda__numbers">
                                        <span _ngcontent-c58>24</span>
                                        <span _ngcontent-c58>47</span>
                                        <span _ngcontent-c58>79</span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_net">
                                <span _ngcontent-c58 >67.2k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_gpm">
                                 <span _ngcontent-c58>2.1k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_xpm">
                                <span _ngcontent-c58>2.8k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_lh">
                                <span _ngcontent-c58>713</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_dn">
                                <span _ngcontent-c58>35</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_hd">
                                <span _ngcontent-c58>116.9k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_td">
                                <span _ngcontent-c58>1.2k</span>
                            </div>
                            <div _ngcontent-c58 class="stats__col stats__col_heal">
                                <span _ngcontent-c58>1.7k</span>
                            </div>
                        </div>
                    </div>
                    <!-- Player detail end here-->